build

*.xcuserdatad
*.pbxuser
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.trace

*project.xcworkspace/

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

.DS_Store
*.orig

.idea
