GCC_VERSION = com.apple.compilers.llvm.clang.1_0

GCC_C_LANGUAGE_STANDARD = gnu99

ARCHS = $(ARCHS_STANDARD_32_BIT) armv6

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = LevelBits-Prefix.pch

GCC_OPTIMIZATION_LEVEL = s

GCC_TREAT_WARNINGS_AS_ERRORS = YES

GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
  // GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES

GCC_WARN_UNDECLARED_SELECTOR = NO
  // GCC_WARN_MULTIPLE_DEFINITION_TYPES_FOR_SELECTOR = YES
GCC_WARN_STRICT_SELECTOR_MATCH = YES

  // GCC_WARN_PEDANTIC = YES

GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES

GCC_THUMB_SUPPORT = NO

HEADER_SEARCH_PATHS = $(inherited) Vendor/leveldb/include
LIBRARY_SEARCH_PATHS = $(inherited) Library

SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 4.0

OTHER_LDFLAGS = -ObjC